body{
	padding: 0px;
	margin: 0px;
}
.tong{
	width: 100%;
	height: 800px;
}
.dong1{
	width: 100%;
	height: 5%;
	background-color: white;
	border-bottom: black 1px solid;
}
.dong2{
	width: 100%;
	height: 15%;
	background-color: white;
}
.dong2 img{
	width: 400px;
	height: 70px;
	padding-left: 10px;
}
.dong3{
	width: 100%;
	height: 6%;
	background-color: green;
}
.dong3 ul{
	height: 48px;
	list-style-type: none;
	display: flex;
	margin: 0px;
	padding: 0px;
}
.dong3 ul li{
	padding: 10px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;
}
.dong3 li:hover{
	background-color: orange;
	color: white;
}
.dong4{
	width: 100%;
	height: 37%;
	background-color: grey;
}
.cot1{
	background-color: white;
	width: 25%;
	height: 100%;
	float: left;
}
.cot1 img{
	width: 18%;
	height: 25%;
	margin: 30px 0 0 50px;
	position: absolute;
}
.cot2{
	background-color: white;
	width: 25%;
	height: 90%;
	padding-top: 30px;
	float: left;
}
.cot2 label{
	color: black;
	font-size: 20px;
}
.cot3{
	background-color: white;
	width: 25%;
	height: 100%;
	float: left;
}
.cot3 label{
	font-size: 18px;
}
.cot4{
	background-color: white;
	width: 25%;
	height: 100%;
	float: left;
}
.cot4 p{
	border: 1px green solid;
	background-color: green;
	color: white;
	text-align: center;
	font-size: 30px;
}
.cot4 img{
	width: 80px;
	height: 50px;
	padding-left: 10px;
}
.cot4 a{
	position: absolute;
	padding-left: 10px;
}

.dong5{
	width: 100%;
	height: 37%;
	background-color: white;
}
.dong5 p{
	background-color: green;
	border: 1px solid green;
	font-size: 30px;
	color: white;
}
.cot5{
	width: 25%;
	background-color: white;
	position: absolute;
}
.cot5 img{
	width: 300px;
	height: 200px;
	position: relative;
	padding: 10px;
}
.main img{
	width: 200px;
	height: 100px;
	position: relative;
	padding-left: 350px;
}
.main hr{
	width: 550px;
}